body {
    background-color: #222;

}

.bg-primary {
    background-color: #d82323 !important;
}

.btn {
    background-color: #d82323 !important;
    outline-color: #d82323 !important;

}

.btn-primary {
    background-color: red !important;
    border-color: #d82323 !important;
    outline-color: #d82323 !important;
}





p,
h1,
h2,
h3,
h4,
h5,
a {
    color: white !important;
}

.social-icons {
    color: #222 !important;
}


.dropdown-item {
    color: #222 !important;
}


.nav-link a
{ 
    font-weight: bold !important;
}

.hero {
    padding-top: 10% !important;
    height: 650px !important;

}

.jumbotron {
    background-color: #222 !important;
    /* border-top: 3px solid rgb(219, 219, 219); */
}


.card {
    background-color: #222 !important;
}

#posts-menu a {
    margin: 3px !important;
    background-color: #d82323;
}

.background {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.project {
    background-color: #333;
    padding: 25px;
    box-sizing: border-box !important;

}

#project:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 1px #333;
}


.footer {
    padding-top: 50px;
}



/* //@import "../bootstrap/scss/bootstrap"; */