// Variables
// $body-bg: #222;
// $body-color:#fff; 


$body-bg: #222;
$theme-colors: ("primary":#d82323);
$yiq-text-light:#fff;
$yiq-text-dark:#fff;





p,
h1,
h2,
h3,
h4,
h5,
a {
    color: white !important;
}

.social-icons 
{ 
    color:#222 !important; 
}


.dropdown-item {
    color: #222 !important;
}


.hero
{ 
    padding-top:10% !important; 
    height:650px !important;
     
}

.jumbotron {
    background-color: #222 !important;
    //border-top: 3px solid rgb(219, 219, 219);
}


.card {
    background-color: #222 !important;
}


.project
{ 
    background-color: #333;
    padding:25px;
      
}
// Bootstrap Sass
@import "node_modules/bootstrap/scss/bootstrap";