// Variables
// $body-bg: #222;
// $body-color:#fff; 


$body-bg: #ededed; 
$theme-colors: ("primary":#d82323);


.jumbotron 
{ 
    background-color: #ededed !important;
    border-top:3px solid rgb(219,219,219);  
}


// Bootstrap Sass
@import "node_modules/bootstrap/scss/bootstrap";